

@media screen and (max-width:480px) {
  .contenedor-padre{
    flex-direction: column;
    position: none;
  }
 .hijo{
  height: 170px;
 }
  nav{
    /* flex-direction: row; */
    width: 100%;
    max-height: 150px;
    padding: 0;
  }
  li{
    flex-direction: row;
    display: flex;
   min-width: 90px;
  }
  ul{
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 150px;
    z-index: 1;
    position: absolute;
    gap: 0;
    margin-top: -44px;
    color: white;
  }
 
  .ul-menuAmburguesa{
    background: rgba(255, 255, 255, 0.733);
    display: flex;
    min-height: 150px;
    margin-top: 1rem;
  }
  .ul-nav{
    display: none;
  }

.logo-img{
/* max-height: 150px; */
 /* object-fit: cover; */
 /* position: absolute; */
 /* margin-top: -75px; */
 background: none;
display: none;
}
.menuResponsive{
display: flex;
justify-content: center;
align-items: center;
background-image: url(/img/logo.png);
background-repeat: no-repeat;
background-size: cover;
background-size: 100% 100%;
height: 150px;

}
.menu-amburguesa{
    display: flex;
    margin-left: 82%;
    z-index: 2;
    position: relative;
   margin-top: -110px;
   width: 50px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   background: rgba(9, 149, 9, 0.582);
   color: rgb(255, 255, 255);
   font-weight:800 ;
   box-shadow: 2px 2px 2px gray;
  }
  .menu-amburguesa:hover{
    background: #8de685;
    color: white;
    font-weight:800 ;
  }
  .li-responsive{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000098;
    border-radius: 5px;
  }
  .li-responsive:hover{
background: rgba(255, 255, 255, 0.719);
  color: #000;
}
.contenedor-tabla{
    font-size: 11px;
    margin-top: 1rem;
    /* overflow: hidden; */
  height: auto;
}
.usuario{
    font-size: 12px;
}
.users {
    font-size: 20px;
}
.container-grafica {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  gap: 8px;
}
.grafica {
    width: 100%;
    height:80px ;
}



}


/* -***************************************************- */
@media screen and (min-width:481px) {
  .contenedor-padre{
    border: 1px solid #000;
    flex-direction: column;
    position: none;
  }
 .hijo{
  height: 170px;
 }
  nav{
    /* flex-direction: row; */
    width: 100%;
    max-height: 150px;
    padding: 0;
  }
  li{
    border: 1px solid #000;
    flex-direction: row;
    display: flex;
   min-width: 90px;
  }
  ul{
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 150px;
    z-index: 1;
    position: absolute;
    gap: 0;
    margin-top: -44px;
    color: white;
  }
 
  .ul-menuAmburguesa{
    background: rgba(255, 255, 255, 0.733);
    display: flex;
    min-height: 150px;
    margin-top: 1rem;
  }
  .ul-nav{
    display: none;
  }

.logo-img{
/* max-height: 150px; */
 /* object-fit: cover; */
 /* position: absolute; */
 /* margin-top: -75px; */
 background: none;
display: none;
}
.menuResponsive{
display: flex;
justify-content: center;
align-items: center;
background-image: url(/img/logo.png);
background-repeat: no-repeat;
background-size: cover;
background-size: 100% 100%;
height: 150px;

}
.menu-amburguesa{
    display: flex;
    margin-left: 82%;
    z-index: 2;
    position: relative;
   margin-top: -110px;
   min-width: 90px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   background: rgba(9, 149, 9, 0.582);
   color: rgb(255, 255, 255);
   font-weight:800 ;
   box-shadow: 2px 2px 2px gray;
  }
  .menu-amburguesa:hover{
    background: #8de685;
    color: white;
    font-weight:800 ;
  }
  .li-responsive{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000098;
    border-radius: 5px;
  }
  .li-responsive:hover{
background: rgba(255, 255, 255, 0.719);
  color: #000;
}
.contenedor-tabla{
    font-size: 13px;
    margin-top: 0.5rem;
    /* overflow: hidden; */
  height: auto;
}
.usuario{
    font-size: 12px;
}
.users {
    font-size: 20px;
}
.container-grafica {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  gap: 8px;
}
.grafica {
    width: 100%;
    height:80px ;
}



}